CompileFlags:
  Add:
    - --target=x86_64-w64-mingw32
    - -std=c2x
    - -Wall
    - -Wextra
    - -isystem
    - C:/msys64/ucrt64/include
    - -isystem
    - C:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/13.2.0/include
    - -isystem
    - C:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/13.2.0/include-fixed
Diagnostics:
  Suppress: [builtin_definition]

---
If:
  PathMatch: .*\.h
CompileFlags:
  Add: [-xc-header]
